@import "tailwindcss";



@keyframes colorCycle {
  0%, 100% {
    color: #aebacb; 
  }
  70% {
    color: #f47d28; 
  }
}

.info-icon {
  animation: colorCycle 2.5s ease-in-out infinite;
}







::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #dcdee6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 196, 124, 0.4);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


