@import "tailwindcss";



@keyframes colorCycle {
  0%, 100% {
    color: #aebacb; 
  }
  70% {
    color: #f47d28; 
  }
}

.info-icon {
  animation: colorCycle 2.5s ease-in-out infinite;
}







::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #020617;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 6px;
  border: 2px solid #020617; 
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

::-webkit-scrollbar-corner {
  background: #020617;
}


